<div class="col-sm-9" style="margin-top: 120px; margin-left:-50px">
  <div class="content_menu">
    <div class="content">
      <h3>Edit product </h3>
      <hr>

      <form id="addCategory" method="POST" onsubmit="return check()">
       <div class="form-group">
          <label for="txtcatName">Branch id</label>
          <input type="text" name="CHI_NHANH_NHAP" class="form-control" value="{{IDCN}}" id="TEN_CN" readonly placeholder="Enter name">

        </div>
        <div class="form-group">
    <label for="exampleFormControlSelect1">Name</label>
    <select class="form-control" id="exampleFormControlSelect1" name="SAN_PHAM_NHAP">
      {{#rows}}
      <option value="{{ID_SP}}">{{TEN_SP}}</option>
     {{/rows}}
    </select>
  </div>
       
         <div class="form-group">
          <label for="txtcatName">Amount</label>
          <input type="text" name="SO_LUONG_NHAP" class="form-control" id="DIA_CHI_CN"  placeholder="Enter name">

        </div>
        <a href="/branch/{{IDCN}}" class="btn btn-outline-info">
          <i class="fa fa-backward" aria-hidden="true"></i>
          Back</a>
        <button type="submit" formaction="/branch/addLo" id="addC" class="btn btn-primary">
          <i class="fa fa-check" aria-hidden="true"></i>
          Save</button>
        
      </form>
    </div>
  </div>
</div>  