
<div class="content row">
        <div class=" col-3">
            <div class="">
                <ul class="">
                   <div class=""> 
                    <li class="">QUẢN LÝ CHI NHÁNH</li>
                    <li>
                        <a href="#">
                            <i class=""></i>
                            Sản phẩm còn hàng
                            <i class=""></i>
                        </a>
                        
                    </li>
                    <li>
                        <a href="#">
                            <i class=""></i>
                            Sản phẩm đã hết
                            <i class=""></i>
                        </a>
                       
                    </li>
                    
                </div>

                <div class=""> 
                    <li class="">QUẢN LÝ SẢN PHẨM</li>
                    <li>
                        <a href="#">
                            <i class=""></i>
                            Sản phẩm còn hàng
                            <i class=""></i>
                        </a>
                        
                    </li>
                    <li>
                        <a href="#">
                            <i class=""></i>
                            Sản phẩm đã hết
                            <i class=""></i>
                        </a>
                       
                    </li>
                    
                </div>


                <div class=""> 
                    <li class="">THỐNG KÊ</li>
                    <li>
                        <a href="#">
                            <i class=""></i>
                            Toàn bộ hệ thống
                            <i class=""></i>
                        </a>
                        
                    </li>
                    <li>
                        <a href="#">
                            <i class=""></i>
                            Từng cửa hàng
                            <i class=""></i>
                        </a>
                       
                    </li>
                    
                </div>
                </ul>
            </div>

        </div>
        <div class="col-9">
                {{{body}}}
        </div>

</div>